<!DOCTYPE html>
<html>
    <head>
    
            <title>Python Flask Upload and display image</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css') }}">
            
              
    </head>
    <body>
       
        <header>
            <div class="container">
              <h1 class="logo">FISH</h1>
              <strong><nav>
                <ul class="menu">
                  <li><a href="{{ url_for('main') }}">Home</a></li>
                  <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
              </nav></strong>
            </div>
          </header>

        
        {% block content %}
        {% endblock %}

     </body>
     
</html>